lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.swp
.qodo

pids
logs
results
tmp
__screenshots__

# Coverage reports
coverage

# API keys and secrets
.env

# Dependency directory
node_modules

# Editors
.idea
*.iml

# OS metadata
.DS_Store
Thumbs.db

# Ignore built ts files
build/**/*
dist/**/*
tsconfig.tsbuildinfo

# mcp files
mcpServer.json

# xmtp db files
*.db3
*.db3-*