name: Call reusable workflow - Chat SDK

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  call-reusable-workflow-PR:
    uses: bosonprotocol/chat-sdk/.github/workflows/ci_reusable.yaml@fix-alpha6
    if: github.event_name == 'pull_request'
    with:
      PUBLISH_NPM: true
    secrets: inherit
  call-reusable-workflow-testing:
    uses: bosonprotocol/chat-sdk/.github/workflows/ci_reusable.yaml@fix-alpha6
    if: github.event_name == 'push'
    with:
      PUBLISH_NPM: true
    secrets: inherit
